<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dolaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_pic"
        android:installLocation="preferExternal"
        android:label="Dola Chat"
        android:roundIcon="@drawable/logo_pic"
        android:supportsRtl="true"
        android:theme="@style/Theme.DolaApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".RequestMessageActivity"></activity>
        <activity android:name=".FindFriendActivity" />
        <activity android:name=".ReportErrorActivity" />
        <activity android:name=".TermsAndPoliciesActivity" />
        <activity android:name=".UserSettingActivity" />
        <activity android:name=".ChatScreenActivity" />
        <activity android:name=".ConversationScreenActivity" />
        <activity android:name=".AppInfoActivity" />
        <activity android:name=".Others.SignUp.SignUp_3_Activity" />
        <activity android:name=".Others.SignUp.SignUp_2_Activity" />
        <activity android:name=".Others.SignUp.SignUp_1_Activity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".LoginScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>